body {
    font-family: Arial, sans-serif;
    /* background-color: #f8f8f8; */
    margin: 20px;
}
.orders-container {
    max-width: 800px;
    margin: auto;
}
.order-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #DCDCDC;
}
.order-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 20px;
}
.order-item img {
    width: 120px;
    border-radius: 5px;
    margin-right: 15px;
}
.order-details {
    flex: 1;
}
.order-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}
.download-link {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.order-details-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.order-details-heading {
    color: #A9A9A9;
}

.order-status.delivered {
    color: #3cb043;
    font-weight: bold;
}

.order-prod-description {
    color: #A9A9A9;
}

.order-details div {
    display: flex;
    justify-content: space-between;
}